# Analisis F1

Agregamos primero las librerias con las que vamos a trabajar.

In [32]:
import requests
import json
import pandas as pd
#warnings.filterwarning('ignore') Hacemos esto para omitir los warnings

Asignamos a la variable url la url de la api donde estan nuestros resultados de la carrera de 2022

In [33]:
url='https://ergast.com/api/f1/2022/22/results.json'

Despues asignamos a la variable response, le pedimos que obtenga los datos que le estamos pidiendo de la url

In [34]:
response=requests.get(url)

Con el atributo content podemos observar lo que contiene response

In [35]:
r=response.content

Pero para que no se vea asi le damos el formato de json para que quede como diccionario

In [36]:
content=json.loads(response.content)

Haremos un for para tener las carreras del 2022. Lo que tiene que cambiar es el url donde pide.
Nota.
Ponemos {} para señalar que es una variable aleaotoria y va cambiando.

# Tabla de Resultados

In [37]:
df_results_2022=pd.DataFrame()
for race in  list(range(1,23)): 
    url='https://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url. format(race))# Aplicamos la funcion format que indica que es lo que va cambiando lo que es race
    #Al final solo amos a ver el ultimo elemento que  se consulta
    content=json.loads(response.content)
    #Por eso vamos agregando data frame con data frame.
    #df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))
    df_results_2022=pd.concat([df_results_2022,pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results'])])

In [38]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

Dejamos el nombre de solo los conductores

In [39]:
 df_results_2022['Driver']= df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [40]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

Dejamoms solo el nombre de los constructores

In [41]:
 df_results_2022['Constructor']= df_results_2022['Constructor'].apply(lambda x:x['constructorId'])

In [42]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

Ahora queremos sumar los puntos de cada piloto para esto usaremos el metodo groupby de pandas.

Convertimos los puntos de la columna points en datos numericos

In [43]:
df_results_2022['points']=df_results_2022.points.astype(int)

Suma de los puntos

In [44]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

# Drivers

In [211]:
df_results_2022.groupby(['Driver']).agg({'points':'sum'})sort_values(by='points',ascending=False)

SyntaxError: invalid syntax (1784117849.py, line 1)

# Constructores

In [ ]:
df_results_2022.groupby(['Constructor']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

# Race Results

In [ ]:
url='http://ergast.com/api/f1/2012.json'
response=requests.get(url.format(race))
content=json.loads(response.content)

In [ ]:
pd.DataFrame(content['MRData']['RaceTable']['Races'])

In [131]:
content['MRData']['RaceTable']['Races'][0]['url']

'http://en.wikipedia.org/wiki/2022_Bahrain_Grand_Prix'

Vamos a obtener todas las careras del 2010 a la fecha

# Races

Primero vamos a crear un diccionario llamado races.

In [46]:
races={'season':[],
      'round':[],
       'racename':[],
      'circuitId':[],
       'lat':[],
       'long':[],
       'country':[],
       'date':[],
       'url':[]
      }

Haremos un for para traernos las carreras del 2000 al 2022

In [47]:
for year in  list(range(2010,2022)): 
    url = "http://ergast.com/api/f1/{}.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    #Vamos a ir iterando para cada una de las carreras.
    #Para cada uno de los elementos de la lista de la carrera
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))# Lo convertimos a entero de una vez
        races["round"].append(int(item["round"]))
        races["racename"].append(item["raceName"])
        races["circuitId"].append(item["Circuit"]["circuitId"])
        races["lat"].append(item["Circuit"]["Location"]["lat"])
        races["long"].append(item["Circuit"]["Location"]["long"])
        races["country"].append(item["Circuit"]["Location"]["country"])
        races["date"].append(item["date"])
        races["url"].append(item["url"])

In [105]:
#races

# Data Frame Races

In [50]:
pd.DataFrame(races)

,season,round,racename,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
232,2021,18,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2021-11-07,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
233,2021,19,São Paulo Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2021-11-14,http://en.wikipedia.org/wiki/2021_S%C3%A3o_Pau...
234,2021,20,Qatar Grand Prix,losail,25.49,51.4542,Qatar,2021-11-21,http://en.wikipedia.org/wiki/2021_Qatar_Grand_...
235,2021,21,Saudi Arabian Grand Prix,jeddah,21.6319,39.1044,Saudi Arabia,2021-12-05,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
236,2021,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2021-12-12,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [217]:
pd.DataFrame(races).to_csv("races.csv",index=False)

# Tabla Season

Obtenemos el diccionario primero

In [218]:
season={'season':[],'url':[]}

In [219]:
url = "http://ergast.com/api/f1/seasons.json?limit=30&offset=60"
response = requests.get(url)
content=json.loads(response.content)

In [220]:
content['MRData']['SeasonTable']

{'Seasons': [{'season': '2010',
   'url': 'http://en.wikipedia.org/wiki/2010_Formula_One_season'},
  {'season': '2011',
   'url': 'http://en.wikipedia.org/wiki/2011_Formula_One_season'},
  {'season': '2012',
   'url': 'http://en.wikipedia.org/wiki/2012_Formula_One_season'},
  {'season': '2013',
   'url': 'http://en.wikipedia.org/wiki/2013_Formula_One_season'},
  {'season': '2014',
   'url': 'http://en.wikipedia.org/wiki/2014_Formula_One_season'},
  {'season': '2015',
   'url': 'http://en.wikipedia.org/wiki/2015_Formula_One_season'},
  {'season': '2016',
   'url': 'http://en.wikipedia.org/wiki/2016_Formula_One_season'},
  {'season': '2017',
   'url': 'http://en.wikipedia.org/wiki/2017_Formula_One_season'},
  {'season': '2018',
   'url': 'http://en.wikipedia.org/wiki/2018_Formula_One_World_Championship'},
  {'season': '2019',
   'url': 'http://en.wikipedia.org/wiki/2019_Formula_One_World_Championship'},
  {'season': '2020',
   'url': 'http://en.wikipedia.org/wiki/2020_Formula_One_World_Championship'},
  {'season': '2021',
   'url': 'http://en.wikipedia.org/wiki/2021_Formula_One_World_Championship'},
  {'season': '2022',
   'url': 'http://en.wikipedia.org/wiki/2022_Formula_One_World_Championship'},
  {'season': '2023',
   'url': 'https://en.wikipedia.org/wiki/2023_Formula_One_World_Championship'}]}

In [221]:
for item in content['MRData']['SeasonTable']['Seasons']:
    season['season'].append(int(item['season']))
    season['url'].append(item['url'])

# Data Frame Season

In [222]:
pd.DataFrame(season)

    season                                                url
0     2010  http://en.wikipedia.org/wiki/2010_Formula_One_...
1     2011  http://en.wikipedia.org/wiki/2011_Formula_One_...
2     2012  http://en.wikipedia.org/wiki/2012_Formula_One_...
3     2013  http://en.wikipedia.org/wiki/2013_Formula_One_...
4     2014  http://en.wikipedia.org/wiki/2014_Formula_One_...
5     2015  http://en.wikipedia.org/wiki/2015_Formula_One_...
6     2016  http://en.wikipedia.org/wiki/2016_Formula_One_...
7     2017  http://en.wikipedia.org/wiki/2017_Formula_One_...
8     2018  http://en.wikipedia.org/wiki/2018_Formula_One_...
9     2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
10    2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
11    2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
12    2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
13    2023  https://en.wikipedia.org/wiki/2023_Formula_One...

In [223]:
pd.DataFrame(season).to_csv("season.csv",index=False)

EJEMPLOS

In [40]:
dicc=content['MRData']['RaceTable']['Races'][0]['Results']

In [42]:
type(dicc)

list

In [44]:
df=pd.DataFrame(dicc)

In [60]:
df1=pd.DataFrame(dicc)

In [55]:
df['Driver'][0]['driverId']

'max_verstappen'

In [56]:
df['Driver']=df['Driver'].apply(lambda x:x['driverId'])

In [58]:
df['Constructor']=df['Constructor'].apply(lambda x:x['constructorId'])

In [64]:
df1

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,1,1,1,25,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1,58,Finished,"{'millis': '5265914', 'time': '1:27:45.914'}","{'rank': '6', 'lap': '54', 'Time': {'time': '1..."
1,16,2,2,18,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5274685', 'time': '+8.771'}","{'rank': '10', 'lap': '48', 'Time': {'time': '..."
2,11,3,3,15,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",2,58,Finished,"{'millis': '5276007', 'time': '+10.093'}","{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
3,55,4,4,12,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",4,58,Finished,"{'millis': '5290806', 'time': '+24.892'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
4,63,5,5,10,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",6,58,Finished,"{'millis': '5301802', 'time': '+35.888'}","{'rank': '2', 'lap': '48', 'Time': {'time': '1..."
5,4,6,6,9,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",7,58,Finished,"{'millis': '5322148', 'time': '+56.234'}","{'rank': '1', 'lap': '44', 'Time': {'time': '1..."
6,31,7,7,6,"{'driverId': 'ocon', 'permanentNumber': '31', ...","{'constructorId': 'alpine', 'url': 'http://en....",8,58,Finished,"{'millis': '5323154', 'time': '+57.240'}","{'rank': '5', 'lap': '45', 'Time': {'time': '1..."
7,18,8,8,4,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",14,58,Finished,"{'millis': '5342845', 'time': '+1:16.931'}","{'rank': '9', 'lap': '42', 'Time': {'time': '1..."
8,3,9,9,2,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",13,58,Finished,"{'millis': '5349182', 'time': '+1:23.268'}","{'rank': '18', 'lap': '45', 'Time': {'time': '..."
9,5,10,10,1,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",9,58,Finished,"{'millis': '5349812', 'time': '+1:23.898'}","{'rank': '15', 'lap': '35', 'Time': {'time': '..."
10,22,11,11,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",11,58,Finished,"{'millis': '5355285', 'time': '+1:29.371'}","{'rank': '7', 'lap': '40', 'Time': {'time': '1..."
11,24,12,12,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",15,57,+1 Lap,NaN,"{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
12,23,13,13,0,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,+1 Lap,NaN,"{'rank': '13', 'lap': '40', 'Time': {'time': '..."
13,10,14,14,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",17,57,+1 Lap,NaN,"{'rank': '19', 'lap': '16', 'Time': {'time': '..."
14,77,15,15,0,"{'driverId': 'bottas', 'permanentNumber': '77'...","{'constructorId': 'alfa', 'url': 'http://en.wi...",18,57,+1 Lap,NaN,"{'rank': '16', 'lap': '47', 'Time': {'time': '..."
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [ ]:
 df_results_2022[ df_results_2022.Driver=="hamilton"]